@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  background-image: url("/robot.png");
  background-size: cover;
  background-position: center;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
section::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
textarea {
  resize: none;
}

section {
  min-width: 300px;
  width: 100%;
  max-width: 850px;
}
.header {
  background-color: black;
  text-align: center;
  color: #c6f6d5;
  position: fixed;
  left: 0;
  right: 0;
  width: 90%;
  max-width: 900px;

}

.triangle-left {
  position: relative;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 10px solid #c6f6d5;
  transform: translateX(1px) translateY(10px);
}
.triangle-right {
  position: relative;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 10px solid rgb(229, 231, 235);
  transform: translateX(-1px) translateY(10px);
}

.chat-box {
  overflow: auto;
  max-height: 100vh;
  display: flex;
  flex-direction: column-reverse;
  overflow-anchor: auto !important;
  vertical-align: top;
}
.chat-message {
  display: flex;
  margin: 10px 0 10px 0;
}

.scroller-content {
}
.scroller .scroller-content .chat-message {
  transform: translateZ(0);
  /* fixes a bug in Safari iOS where the scroller doesn't update */
}

/* .background-container {
  position: relative;
  width: 100%;
  height: 100%;
} */

.eye {
  position: absolute;
  width: 25px;
  height: 25px;
  background: rgba(92, 252, 254, 0);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pupil {
  width: 10px;
  height: 10px;
  box-shadow: 0px 0px 5px rgba(92, 252, 254, 0);
  background: rgba(122, 122, 122, 0.489);
  border-radius: 50%;
  position: absolute;
}
